.alignBlock{
		margin-left: 40em;
}

.titreCadre{

		border:1px solid Black;
}

.tableauCadre{
		border:1px solid Black;	
		text-align: center; 
}

.jourBorder{
		border:1px solid Black;	

}

.jourBorder:hover{
		background-color: blue;
}

.jBorder:hover{
		background-color: pink;
}